/*
	Variables
*/
* {
	--content-margin: 50px; /* Margin on each side of the page */
	--content-padding: 10px; /* Padding of the inside of the content blocks */

	--nav-height: 40px; /* Height of the nav block */
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


/*
	Header
*/
header {
	font-family: BebasNeue;
}

/* Title */
header .title {
	margin-left: var(--content-margin);
	margin-right: var(--content-margin);
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
}
header .title h1 {
	position: relative;
	top: 16px;
	left: 0;

	font-size: 60px;
}


/* Navigation */
nav {
	background-color: rgb(255, 255, 255);
	border-top: 3px solid rgb(0, 0, 0);
	box-shadow: 0 3px 4px;
}

nav.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;

	line-height: var(--nav-height);
	font-size: 26px;
}


/*
	Main
*/
main {
	display: flex;
	margin-left: var(--content-margin);
	margin-right: var(--content-margin);

	font-family: Roboto, sans-serif;
}

main.sticky {
	margin-top: var(--nav-height);
}


/*
	Content
*/

/* Main blocks */
main .content {
	flex: 1;
	padding: var(--content-padding);
}

main .sidebar {
	width: 20%;
	padding: 10px;
}

/* Section title */
main h1 {
}
