* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: rgb(28, 40, 51);
}

#under_construction {
	text-align: center;
	font-family: Roboto;
	color: rgb(248, 249, 249);
}

.blinking {
	animation: blinking 0.5s linear infinite;
}
@keyframes blinking {
	50% {
		opacity: 0;
	}
}
